body
{
    font-family:cursive;
    background-color:lightblue;
}

h1 img
{
    width:75px;
    height:75px;
}

table,tr,td,th
{
padding:15px;
}
td,tr,th
{
    border:2px solid black;
}

img
{
    height:100px;
    width:100px;
}

div
{
border-radius:20px;
background-color: lightsalmon;
width:30%;
border:solid;
border-color:white;
}